
HOST_NAME="{{ ec2_private_dns_name }}"
PROJECTS_HOME="{{ projects_home}}"
DOMAIN_NAME="{{ domain_base }}"
DOMAIN_HOME="{{ domain_home }}"
DOMAINS_HOME="{{ domains_home }}"
DOMAIN_PORT="{{ domain_port }}"
DOMAIN_DEBUG_PORT="{{ domain_debug_port }}"
DOMAIN_PROFILER_PORT="{{ domain_profiler_port }}"
ECAS_IP="{{ ecas_ip }}"
SERVICE_MOCK_IP="{{ service_mock_ip }}"
DOCKER_REGISTRY="{{ shared_vars.docker_registry }}"
CONTAINER_NAME="{{ container_name }}"
CONTAINER_HOSTNAME="{{ container_hostname }}"
DOCKER_IMAGE="{{ docker_image }}"
USER_MEM_ARGS="-Xms1024m -Xmx2500m -XX:+UseParallelGC -XX:ParallelGCThreads=4 -XX:+UseParallelOldGC -XX:LargePageSizeInBytes=4m -XX:-BindGCTaskThreadsToCPUs"