#!/bin/sh
source {{ domain_home }}domain.env

isRunning=`docker ps -a |grep "${CONTAINER_NAME}" |wc -l`

if [ "${isRunning}" != "" ] && [ "${isRunning}" != "0" ]  ; then
   echo "The container container [${CONTAINER_NAME}] is running"
   docker rm -f ${CONTAINER_NAME} && echo "Container removed."
fi

docker create --name ${CONTAINER_NAME} \
      --hostname ${CONTAINER_HOSTNAME} \
      --add-host ecas.cc.cec.eu.int:${ECAS_IP:-127.0.0.1} \
      --add-host mock-services:${SERVICE_MOCK_IP:-127.0.0.1} \
      -e TZ=Europe/Brussels \
      -e USER_MEM_ARGS="${USER_MEM_ARGS}" \
      --restart=unless-stopped \
      -p ${DOMAIN_PORT} \
      -p ${DOMAIN_DEBUG_PORT} \
      -p ${DOMAIN_PROFILER_PORT} \
      -v ${DOMAIN_HOME}logs:/u01/oracle/user_projects/domains/${DOMAIN_NAME}/logs \
      -v ${DOMAIN_HOME}applications:/u01/oracle/user_projects/domains/${DOMAIN_NAME}/applications \
      -v ${DOMAIN_HOME}autodeploy:/u01/oracle/user_projects/domains/${DOMAIN_NAME}/autodeploy \
      -v ${DOMAIN_HOME}classes:/u01/oracle/user_projects/domains/${DOMAIN_NAME}/classes \
      -v ${DOMAIN_HOME}scripts:/u01/oracle/user_projects/domains/scripts \
       ${DOCKER_IMAGE}