#!/bin/sh
#This function provide the possibility to pull an image from a repository public or private
#$1 is dockerimage name to pull
#$2 is docker registry endpoint, if the value is null then the public repository is use as source other wise the correspong private repository will be used.
#   the format is IP:PORT or HOSTNAME:PORT

source {{ domain_home }}domain.env

dockerPull(){
    local DOCKER_IMAGE=$1; shift
    local DOCKER_REG=$1; shift
    if [ "${DOCKER_REG}" == "" ]; then
        echo "Do you want to pull the latest '$DOCKER_IMAGE' from the public registry ? Enter [yes/no]"
    else
        echo "Do you want to pull the latest '$DOCKER_IMAGE' from the private registry '$DOCKER_REG'? Enter [yes/no]"
    fi
    read pullAnwser
    if [ "${pullAnwser}" == "yes" ]; then
        if [ "${DOCKER_REG}" != "" ]; then
            docker pull $DOCKER_REG/$DOCKER_IMAGE && \
            docker tag $DOCKER_REG/$DOCKER_IMAGE $DOCKER_IMAGE && \
            echo "'$DOCKER_REG/$DOCKER_IMAGE' pulled"
            echo "'$DOCKER_REG/$DOCKER_IMAGE' tagged as '$DOCKER_IMAGE'"
        else
            docker pull $DOCKER_IMAGE && \
            echo "'$DOCKER_IMAGE' pulled"
        fi
    else
        echo "We will keep the local version of '$DOCKER_IMAGE'"
    fi
}


dockerPull $DOCKER_IMAGE $DOCKER_REGISTRY