#!/bin/bash

CONTAINER_NAME={{ lfacts.name }}
DOCKER_IMAGE={{ lfacts.image }}

isRunning=`docker ps -a |grep "${CONTAINER_NAME}" |wc -l`

if [ "${isRunning}" != "" ] && [ "${isRunning}" != "0" ]  ; then
   echo "The container container [${CONTAINER_NAME}] is running"
   docker rm -f ${CONTAINER_NAME} && echo "Container removed."
fi

docker run -d --name=${CONTAINER_NAME} \
        -e TZ=Europe/Brussels \
        -e USERID=1000 \
        -e GROUPID=1000 \
        -p 139:139 \
        -p 445:445 \
        -p 137:137/udp \
        -p 138:138/udp \
        -v {{ lfacts.volumes[0] }} \
        --restart=always \
        -d ${DOCKER_IMAGE} \
        -r \
        -u "ec2-user;ec2-user" \
        -s "Projects;/mount/projects;yes;no;no;ec2-user;uc2-user;uc2-user" \
        -w "VPC-Server" \
        -W