#!/bin/sh

isRunning=`docker ps -a |grep "{{container_name }}" |wc -l`

if [ "${isRunning}" != "" ] && [ "${isRunning}" != "0" ]  ; then
   echo "The container container [{{ container_name }}] is running"
   docker rm -f {{ container_name }} && echo "Container removed."
fi

docker container run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=9191:8080 \
  --detach=true \
  --name={{ container_name }} \
  --restart=always \
  {{ docker_image }}
