#!/bin/bash

isRunning=`docker ps -a |grep "{{container_name }}" |wc -l`

if [ "${isRunning}" != "" ] && [ "${isRunning}" != "0" ]  ; then
   echo "The container container [{{ container_name }}] is running"
   docker rm -f {{ container_name }} && echo "Container removed."
fi

docker run -d --name={{ container_name }} \
        -e TZ=Europe/Brussels \
        -e USERID=1000 \
        -e GROUPID=1000 \
        -p 139:139 \
        -p 445:445 \
        -p 137:137/udp \
        -p 138:138/udp \
        -v /home/ec2-user/Projects:/mount/projects \
        --restart=always \
        -d {{docker_image}} \
        -r \
        -u "ec2-user;ec2-user" \
        -s "Projects;/mount/projects;yes;no;no;ec2-user;uc2-user;uc2-user" \
        -w "{{aws_vpc_id }}" \
        -W
