
#!/bin/sh
source {{ domain_home }}domain.env
docker run -it --rm \
      --hostname ${CONTAINER_HOSTNAME} \
      --add-host ecas.cc.cec.eu.int:${ECAS_IP:-127.0.0.1} \
      --add-host mock-services:${SERVICE_MOCK_IP:-127.0.0.1} \
      -e TZ=Europe/Brussels \
      -v ${DOMAIN_HOME}logs:/u01/oracle/user_projects/domains/${DOMAIN_NAME}/logs \
      -v ${DOMAIN_HOME}applications:/u01/oracle/user_projects/domains/${DOMAIN_NAME}/applications \
      -v ${DOMAIN_HOME}autodeploy:/u01/oracle/user_projects/domains/${DOMAIN_NAME}/autodeploy \
      -v ${DOMAIN_HOME}classes:/u01/oracle/user_projects/domains/${DOMAIN_NAME}/classes \
      -v ${DOMAIN_HOME}scripts:/u01/oracle/user_projects/domains/scripts \
      ${DOCKER_IMAGE} \
	  bash