
#!/bin/bash
set -x
cd /{{ new_user }}
/opt/java/latest/bin/jar xvf /{{ new_user }}/{{ FMW_PKG }}
/opt/java/latest/bin/java -jar /{{ new_user }}/{{ FMW_JAR }} -silent -responseFile /u01/install.file -invPtrLoc /u01/oraInst.loc -jreLoc {{ home_user }} -ignoreSysPrereqs -force -novalidation ORACLE_HOME={{ home_user }} INSTALL_TYPE="WebLogic Server"