#!/bin/bash

CONTAINER_NAME={{ lfacts.name }}
DOCKER_IMAGE={{ lfacts.image }}
PORTAINER_IP=`sudo ifconfig eth0 |grep "inet " |awk '{print $2}'`
PORTAINER_EP="${PORTAINER_IP}:2375"

isRunning=`docker ps -a |grep "${CONTAINER_NAME}" |wc -l`

if [ "${isRunning}" != "" ] && [ "${isRunning}" != "0" ]  ; then
   echo "The container container [${CONTAINER_NAME}] is running"
   docker rm -f ${CONTAINER_NAME} && echo "Container removed."
fi

docker run -d --name ${CONTAINER_NAME} \
       -p 9000:9000 \
       -p 2000:9000 \
       --restart=always \
       --hostname \${CONTAINER_NAME} \
       -v /var/run/docker.sock:/var/run/docker.sock \
       -v /opt/\${CONTAINER_NAME}:/data \
       ${DOCKER_IMAGE} \
       -H tcp://${PORTAINER_EP} && \
	   echo "Listening on http://${PORTAINER_IP}:9000"
