<?php
{%- for server, addr in salt['mine.get']('db-*', 'network.ip_addrs').items() %}
$host = "{{ addr[0] }}"; # {{ server }}
{%- endfor %}
$user = "{{ salt['pillar.get']('test_us:user', '') }}";
$pass = "{{ salt['pillar.get']('test_us:passwd', '') }}";
?>
