#!/bin/bash



CONTAINER_NAME={{ lfacts.name }}
DOCKER_IMAGE={{ lfacts.image }}

isRunning=`docker ps -a |grep "${CONTAINER_NAME}" |wc -l`

if [ "${isRunning}" != "" ] && [ "${isRunning}" != "0" ]  ; then
   echo "The container container [${CONTAINER_NAME}] is running"
   docker rm -f ${CONTAINER_NAME} && echo "Container removed."
fi

docker container run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=9191:8080 \
  --detach=true \
  --name=${CONTAINER_NAME} \
  --restart=always \
  --privileged=true  \
  ${DOCKER_IMAGE}
