####################
{% set db_ip = salt['mine.get']('id:db-*', 'network.ip_addrs', expr_form='grain').items()[0] %}
val = {{db_ip}}
va2 = {{db_ip[1]}}
####_


{{ grains.id }}
{{ grains['ip4_interfaces'].eth0[0] }}
