server {
    listen       80;
    server_name  localhost;

    #charset koi8-r;
    access_log  /var/log/nginx/host.access.log  main;

    location / {
        #root   /usr/share/nginx/html;
        root   {{ nginxftp_root }};
        index  index.html index.htm;
        autoindex on;
        autoindex_exact_size off;
        autoindex_format html;
        autoindex_localtime on;
        auth_basic "Private Property";
        auth_basic_user_file /etc/nginx/conf.d/htpasswd;
    }

}
